@import './variables.scss';
@import './reset.scss';
@import './components/_modal.scss';
@import './components/_error.scss';
@import './components/_card.scss';
@import './components/_form.scss';

body{
  background-color: #cccccc61;
  font-size: 18px;
  line-height: 1.6rem;
}

.container{
  margin: 0 auto;
}
